body { 
	background-color: #EEEEEE;
}

input {
	background-color: #FFFFFF;
	font-family: arial;
	font-size: 12px;
	border: 1px solid black;
	width: 500px;
}

textarea {
	background-color: #FFFFFF;
	font-family: arial;
	font-size: 12px;
	border: 1px solid black;
	width: 500px;
	height: 300px;
}

button {
	border: 1px solid black;
	background-color: #DDDDDD;
	width: 500px;
}

a {
	font-family: arial;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	color: #333333;
}

a:hover {
	font-family: arial;
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline;
}

a:visited {
	font-family: arial;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	color: #333333;
}

.linkSection {
	width: 40%;
	border-bottom: 1px solid #555555;
	font-family: arial;
	font-size: 10px;
}

.postTableItem {
	width: 40%;
}

.postTitleBar {
	font-family: arial;
	font-size: 13px;
	font-weight: bold;
}

.postContent {
	text-align: justify;
	font-family: arial;
	font-size: 14px;
	color:#555555;
}

.postDateBar {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color:#666666;
}

.authorStyle {
	font-family: arial;
	font-size: 10px;
	color:#333333;
}

.dateStyle {
	font-family: arial;
	font-size: 10px;
	color:#999999;
}

.adminPanel {
	text-align: justify;
	font-family: arial;
	font-size:10px;
	color:#555555;
	border: 2px solid #CCCCCC;
	border-top-right-radius: 15px;
}

.disabledInput {
	background-color: #EEEEEE;
	font-family: arial;
	font-size: 12px;
	border: 1px solid #DDDDDD;
	width: 500px;
}