$def with (items)

<center>

<br>
A developers blog.
<br><br>

<table class="linkSection">
	<tr>
		<td>
			<a href="/">Blog</a> -
			<a href="/new">New post</a>
		</td>
	</tr>
</table>
<br>

$for x in items:
	$if x.publish:
		<table class="postTableItem">
			<tr>
				<td class="postTitleBar">
				<b>$:x.title </b>
				</td>
			</tr>
			<tr>
				<td clasS="postContent">
				$:x.content.replace('\n','<br>')
				</td>
			</tr>
			<tr>
				<td class="postDateBar">
				<b><font class="authorStyle">$:x.author</font> - <font class="dateStyle">$:x.date</font>
				</td>
			</tr>
		</table><br>

</center>